.project-box {
    margin: 5px 5px;
    width : 60vw;
    border-radius:10px;
    padding : 6% 5%;
    background: #111111;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.project-logo{
    height : 80px;
    width : 80px;
    background-size: contain;
}

.project-box p {
    color : rgba(198,201,216,.75);
    font-size:18px;
    text-align:justify;
}

.project-box:hover {
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    background: -webkit-linear-gradient(left,#f61b10,#ef0963);
}

@media (min-width:769px) {
    .project-box {
        margin: 0px 5px;
        height : auto;
        width : 30%;
        padding : 6% 2%;
    }
}