.react-tabs {
    margin-top: 35px;
    font-size:18px;
    color : rgba(198,201,216,.75);
}

.react-tabs ul {
    border-bottom: 0;
    transition : all .3s cubic-bezier(.645,.045,.355,1);
}

.react-tabs li {
    border : 0;
    border-bottom: 3px solid transparent;
    color : white;
    background : transparent;
    transition : all .3s cubic-bezier(.645,.045,.355,1);
}

li.react-tabs__tab--selected{
    border : 0;
    border-bottom: 3px solid #F9004D;
    color : #F9004D;
}

.skill .skill-title{
    
    font-weight: 700;
}
.skill .skill-title span{
    font-weight: 400;
}
.ed-cert .ed-cert-title{
    font-weight: 700;
}
.ed-cert .ed-cert-title span{
    font-weight: 400;
}