.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #F9004D;
  border-radius: 4px;
  background: #F9004D;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: hsl(250, 100%, 75%);
  /* border-color: hsl(250, 100%, 75%); */
}

.button--inverse {
  background: transparent;
  color: white;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #1d1d1d;
}

.button--danger {
  background: hsl(250, 37%, 35%);
  border-color: hsl(250, 37%, 35%);
}

.button--danger:hover,
.button--danger:active {
  background: hsl(250, 100%, 75%);
  border-color: hsl(250, 100%, 75%);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}